<!DOCTYPE html>
<html>
    <head>
        <title>Connect 4</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- menu page -->
        <div class = "page start">
            <h1>Connect 4</h1>
            <input id="username" placeholder="Enter username..." />
            <form id = "form-join-public">
                <button id="public-game-button">Public Game</button>
            </form>
            <form id = "form-create-private">
                <button id="create-game-button">Create Private Game</button>
            </form>
            <input id="roomcode"/>
            <form id = "form-join-private">
                <button id="join-game-button">Join Private Game</button>
            </form>
        </div>
        <div class = "page">
            <h2 id = "room-name">Public Game</h2>
            <div class = "circle red"></div> <div class = "name" id = "red-name"></div> <div class = "circle yellow"></div> <div class = "name" id = "yellow-name"></div>
            <h2 id="playerNum">Current Turn: Red</h2>
            <h2 id="turnCounter">Turn Counter: 0</h2>
            <button onclick="move(0)" style="width:47px">1</button>
            <button onclick="move(1)" style="width:46px">2</button>
            <button onclick="move(2)" style="width:47px">3</button>
            <button onclick="move(3)" style="width:46px">4</button>
            <button onclick="move(4)" style="width:47px">5</button>
            <button onclick="move(5)" style="width:46px">6</button>
            <button onclick="move(6)" style="width:47px">7</button>
            <br>
            <!-- <canvas id="myCanvas" width="350" height="300" style="border:1px solid #4b4545;"></canvas> -->            
            <div id = "game"></div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
        <!-- <script src="/static/lib/p5.min.js"></script>
        <script src="/static/js/menu.js"></script>
        <script src="/static/js/game.js"></script> -->
        <script src="/static/js/client.js"></script>
        <script src="/static/js/clientSideGame.js"></script>
    </body>
</html>