<!DOCTYPE html>
<html>
    <head>
        <title>Connect 4</title>
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- menu page -->
        <div class = "page start">
            <h1>Connect 4</h1>
            <input id="username" placeholder="Enter username..." />
            <button id="public-game-button">Public Game</button>
            <button id="create-game-button">Create Private Game</button>
            <input id="roomcode"/>
            <button id="join-game-button">Join Private Game</button>
        </div>
        <div class = "page">

        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/lib/p5.min.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/game.js"></script>
    </body>
</html>