<!DOCTYPE html>
<html>
    <head>
        <title>Connect 4</title>
        <script type="text/javascript" src="C:\Users\range\Desktop\CS\School\Capstone\turn-based-game\static\js\clientSideGame.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
    </head>
    <body>
        <h1>Connect 4</h1>
        <h2 id="playerNum">Next Turn: Red</h2>
        <h2 id="turnCounter">Turn Counter: 0</h2>
        <button onclick="move(0)" style="width:47px">1</button>
        <button onclick="move(1)" style="width:46px">2</button>
        <button onclick="move(2)" style="width:47px">3</button>
        <button onclick="move(3)" style="width:46px">4</button>
        <button onclick="move(4)" style="width:47px">5</button>
        <button onclick="move(5)" style="width:46px">6</button>
        <button onclick="move(6)" style="width:47px">7</button>
        <br>
        <!-- <canvas id="myCanvas" width="350" height="300" style="border:1px solid #4b4545;"></canvas> -->
    </body>
</html>